.md-typeset table:not([class]) th:not([align]) {
    text-align: center;
}
.md-typeset table:not([class]) td:not([align]) {
    text-align: justify;
    vertical-align: middle
}
.md-typeset figcaption {
    font-style: normal;
}
.md-content {
    text-align: justify;
}

.ecos-cc {
    width: 110px;
    margin-top: 5px;
}
.ecos-beian {
    margin-top: 10px;
}
.ecos-brd-card-img {
    text-align: center;
    img {
        height: 200px !important;
    }
}
.ecos-brd-card-link {
    text-align: right;
}
.ecos-brd-card-home {
    grid-template-columns: repeat(2, minmax(min(100%, 10rem), 1fr)) !important;
    ul {
        text-align: center;
        li {
            a {
                color: inherit;
                transition: none;
            }
            a:hover {
                color: white;
            }
            p {
                margin-top: 0px !important;
                font-size: 35px;
            }
            svg {
                width: 80px;
                height: 80px;
            }
        }
        li:hover {
            color: white;
            cursor: pointer;
            svg {
                filter: invert(1);
            }
        }
        li:nth-child(1):hover {
            background-color: orchid;
        }
        li:nth-child(2):hover {
            background-color: orange;
        }
    }
}

[data-md-color-scheme="ecos-light"] {
    --md-typeset-a-color: #ff710d !important;
}
[data-md-color-scheme="ecos-dark"] {
    --md-typeset-a-color: #ff710d !important;

    --md-default-fg-color: hsla(var(--md-hue),15%,90%,0.82);
    --md-default-fg-color--light: hsla(var(--md-hue),15%,90%,0.56);
    --md-default-fg-color--lighter: hsla(var(--md-hue),15%,90%,0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue),15%,90%,0.12);
    --md-default-bg-color: hsla(var(--md-hue),15%,14%,1);
    --md-default-bg-color--light: hsla(var(--md-hue),15%,14%,0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue),15%,14%,0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue),15%,14%,0.07);
    --md-code-fg-color: hsla(var(--md-hue),18%,86%,0.82);
    --md-code-bg-color: hsla(var(--md-hue),15%,18%,1);
    --md-code-hl-color: #2977ff;
    --md-code-hl-color--light: #2977ff1a;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-kbd-color: hsla(var(--md-hue),15%,90%,0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue),15%,90%,0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue),15%,14%,1);
    --md-typeset-mark-color: #4287ff4d;
    --md-typeset-table-color: hsla(var(--md-hue),15%,95%,0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue),15%,95%,0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color: hsla(var(--md-hue),15%,10%,0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue),15%,8%,1);
    --md-shadow-z1: 0 0.2rem 0.5rem #0000000d,0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #00000040,0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
    color-scheme: dark
}