{% extends "base.html" %}

{% block container %}
  <style>
    .md-typeset table:not([class]) th:not([align]) {
      text-align: center;
    }
    .md-typeset table:not([class]) td:not([align]) {
      text-align: justify;
      vertical-align: middle
    }
    .md-typeset figcaption {
      font-style: normal;
    }
    .md-content {
      text-align: justify;
    }

    .ecos-brd-card-img {
      text-align: center;
      img {
        height: 200px !important;
      }
    }
    .ecos-brd-card-link {
      text-align: right;
    }
    .ecos-brd-card-home {
      grid-template-columns: repeat(2, minmax(min(100%, 10rem), 1fr)) !important;
      ul {
        text-align: center;
        li {
          a {
            color: inherit;
            transition: none;
          }
          a:hover {
            color: white;
          }
          p {
            margin-top: 0px !important;
            font-size: 35px;
          }
          svg {
            width: 80px;
            height: 80px;
          }
        }
        li:hover {
          color: white;
          cursor: pointer;
          svg {
            filter: invert(1);
          }
        }
        li:nth-child(1):hover {
          background-color: orchid;
        }
        li:nth-child(2):hover {
          background-color: orange;
        }
      }
    }
  </style>

  <div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{% endblock %}
